<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Macademy\Minerva\Model\ResourceModel\Faq\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">macademy_minerva_faq</argument>
            <argument name="resourceModel" xsi:type="string">Macademy\Minerva\Model\ResourceModel\Faq</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="macademy_minerva_faq_listing_data_source" xsi:type="string">Macademy\Minerva\Model\ResourceModel\Faq\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
